In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
credit_data=pd.read_csv("credit_risk.csv")
credit_data

,over_draft,credit_usage,credit_history,purpose,current_balance,Average_Credit_Balance,employment,location,personal_status,other_parties,...,property_magnitude,cc_age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,none,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,none,...,no known property,53,none,for free,2,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no checking,12,existing paid,furniture/equipment,1736,<100,4<=X<7,3,female div/dep/mar,none,...,real estate,31,none,own,1,unskilled resident,1,none,yes,good
996,<0,30,existing paid,used car,3857,<100,1<=X<4,4,male div/sep,none,...,life insurance,40,none,own,1,high qualif/self emp/mgmt,1,yes,yes,good
997,no checking,12,existing paid,radio/tv,804,<100,>=7,4,male single,none,...,car,38,none,own,1,skilled,1,none,yes,good
998,<0,45,existing paid,radio/tv,1845,<100,1<=X<4,4,male single,none,...,no known property,23,none,for free,1,skilled,1,yes,yes,bad
999,0<=X<200,45,critical/other existing credit,used car,4576,100<=X<500,unemployed,3,male single,none,...,car,27,none,own,1,skilled,1,none,yes,good

In [2]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   over_draft              1000 non-null   object
 1   credit_usage            1000 non-null   int64
 2   credit_history          1000 non-null   object
 3   purpose                 1000 non-null   object
 4   current_balance         1000 non-null   int64
 5   Average_Credit_Balance  1000 non-null   object
 6   employment              1000 non-null   object
 7   location                1000 non-null   int64
 8   personal_status         1000 non-null   object
 9   other_parties           1000 non-null   object
 10  residence_since         1000 non-null   int64
 11  property_magnitude      1000 non-null   object
 12  cc_age                  1000 non-null   int64
 13  other_payment_plans     1000 non-null   object
 14  housing                 1000 non-null   object
 15  existing_credits        1000 non-null   int64
 16  job                     1000 non-null   object
 17  num_dependents          1000 non-null   int64
 18  own_telephone           1000 non-null   object
 19  foreign_worker          1000 non-null   object
 20  class                   1000 non-null   object
dtypes: int64(7), object(14)
memory usage: 164.2+ KB

In [3]:
credit_data['class'].unique()

array(['good', 'bad'], dtype=object)

In [4]:
x=credit_data.columns.drop("class")
y=credit_data['class']
credit_data_encoded=pd.get_dummies(credit_data[x])
credit_data_encoded.shape

(1000, 61)

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(credit_data_encoded,y,test_size=0.15,random_state=100)
print("Shape of x_train:",x_train.shape)
print("Shape of y_train:",y_train.shape)
print("Shape of x_test:",x_test.shape)
print("Shape of y_test:",y_test.shape)

Shape of x_train: (850, 61)
Shape of y_train: (850,)
Shape of x_test: (150, 61)
Shape of y_test: (150,)

In [7]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)

C:\Users\GPT BANTWAL\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [8]:
train_accuracy=model.score(x_train,y_train)
print("Train accuracy=",train_accuracy)

Train accuracy= 0.7752941176470588

In [9]:
test_accuracy=model.score(x_test,y_test)
print("Test accuracy=",test_accuracy)

Test accuracy= 0.74

In [10]:
train_prediction=model.predict(x_train)
test_prediction=model.predict(x_test)
from sklearn.metrics import confusion_matrix
train_conf_matrix=confusion_matrix(y_train,train_prediction)
pd.DataFrame(train_conf_matrix,columns=model.classes_,index=model.classes_)

      bad  good
bad   125   132
good   59   534

In [11]:
test_conf_matrix=confusion_matrix(y_test,test_prediction)
pd.DataFrame(test_conf_matrix,columns=model.classes_,index=model.classes_)

      bad  good
bad    19    24
good   15    92

In [12]:
test_conf_matrix=confusion_matrix(y_test,test_prediction)
pd.DataFrame(test_conf_matrix,columns=model.classes_,index=model.classes_)

      bad  good
bad    19    24
good   15    92

In [13]:
test_conf_matrix=confusion_matrix(y_test,test_prediction)
pd.DataFrame(test_conf_matrix,columns=model.classes_,index=model.classes_)

      bad  good
bad    19    24
good   15    92

In [20]:
train_correct_prediction=train_conf_matrix[0][0]+train_conf_matrix[1][1]
train_total_prediction=train_conf_matrix.sum()
train_accuracy=train_correct_prediction/train_total_prediction
print(train_accuracy)

0.7752941176470588

In [18]:
test_correct_prediction=test_conf_matrix[0][0]+test_conf_matrix[1][1]
total_prediction=test_conf_matrix.sum()
test_correct_prediction/total_prediction
print(test_accuracy)

0.74

In [19]:
from sklearn.metrics import classification_report
print(classification_report(y_test,test_prediction))

              precision    recall  f1-score   support

         bad       0.56      0.44      0.49        43
        good       0.79      0.86      0.83       107

    accuracy                           0.74       150
   macro avg       0.68      0.65      0.66       150
weighted avg       0.73      0.74      0.73       150